@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "0xProto";
        font-display: swap;
        src: url("/fonts/0xProto/0xProtoNerdFont-Regular.ttf") format("truetype");
    }
    :root {
        --tangrey: #8e878c;
        --neutralgrey: #9f94a0;
        --lightgrey: #bbb8bb;
        --pink: #dcb8b0;
        --peach: #e5cab7;
        --blue: #9bb0cd;
        --lightblue: #cad5db;
        --dark: #120f19;
        --bold: #947b82;
        font-family: "0xProto", monospace;
    }

    ::selection {
        @apply bg-palette-800 dark:bg-palette-500 text-white dark:text-black;
    }

    body {
        margin: 0;
        min-height: 100vh;
        background-color: var(--dark);
        color: white;
    }

    h1 {
        font-size: 2.125em;
    }

    h2 {
        font-size: 1.4em;
        margin-bottom: 0.83em;
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    b {
        color: var(--bold);
        font-weight: 700;
    }

    a {
        text-decoration: underline;
    }

    pre {
        color: white;
        font-family: "0xProto", monospace;
    }

    header {
        position: relative;
    }

    footer {
        text-align: center;
    }

    [class^="icon-"], [class*=" icon-"] {
    text-decoration: none;
    }

    .icon {
        text-decoration: none;
    }

    @media screen and (width < 640px) {
        p, ul {
            font-size: 14px;
        }
    }
}

@layer components {

    h1 {
        @apply text-2xl transition-all duration-100 md:text-3xl text-palette-900 dark:text-white;
    }
    h2 {
        @apply my-4 text-xl transition-all duration-100 md:text-2xl;
    }

    h3 {
        @apply text-base transition-all duration-100 font-[1.2em] mb-[0.75em] underline
    }

    hr {
        @apply w-full h-[1.25px] my-4 border-palette-700 dark:border-white;
    }

    p, ul, span, div, pre {
        @apply text-[#242029] dark:text-white text-sm;
    }
    
    ul {
        @apply list-disc list-inside
    }

    li {
        @apply my-1
    }

    h2, h4, a, b {
        @apply text-light-400 dark:text-palette-300 
    }

    a {
        @apply underline-offset-4 hover:no-underline hover:bg-palette-200 hover:dark:bg-palette-300 hover:dark:text-black
    }
    
    input {
        @apply my-4 bg-white p-2 font-normal rounded-md dark:bg-palette-900
    }

    details > :nth-child(n+2) {
        @apply pl-4 border-l p-2
    }

    blockquote {
        @apply pl-4 border-l border-[#242029] dark:border-white
    }
    
}



.footnotes {
    @apply m-auto pb-[5.5vh] mt-[1rem] relative w-full
}

.footnotes::before {
    @apply w-full h-[1.25px] bg-palette-700 dark:bg-white;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
}
