@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tangrey: #8e878c;
        --neutralgrey: #9f94a0;
        --lightgrey: #bbb8bb;
        --pink: #dcb8b0;
        --peach: #e5cab7;
        --blue: #9bb0cd;
        --lightblue: #cad5db;
        --dark: #120f19;
        --bold: #947b82;
        font-family: monospace;
    }

    ::selection {
        @apply bg-light-700 dark:bg-palette-500 dark:text-black;
    }

    body {
        margin: 0;
        background-color: var(--dark);
        color: white;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
        margin-bottom: 0.83em;
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    b {
        color: var(--bold);
        font-weight: 700;
    }

    a {
        text-decoration: underline;
    }

    pre {
        color: white;
        font-family: monospace;
    }

    header {
        position: relative;
    }

    footer {
        text-align: center;
    }

    [class^="icon-"], [class*=" icon-"] {
    text-decoration: none;
    }

    .icon {
        text-decoration: none;
    }

    @media screen and (width < 640px) {
        p, ul {
            font-size: 18px;
        }
    }
}

@layer components {

    h1 {
        @apply text-2xl transition-all duration-100 md:text-4xl text-light-600 dark:text-white;
    }
    h2 {
        @apply my-4 text-xl transition-all duration-100 md:text-2xl;
    }

    h3 {
        @apply transition-all duration-100 text-lg mb-[0.75em] underline
    }

    hr {
        @apply w-full h-[1.25px] my-4 border-palette-700 dark:border-white;
    }

    p, ul, span, div, pre {
        @apply text-[#242029]/90 dark:text-white text-sm md:text-base lg:text-lg;
    }
    
    ul {
        @apply list-disc list-inside
    }

    li {
        @apply my-1
    }

    h2, h4, a, b {
        @apply text-light-500 dark:text-palette-300 
    }

    a {
        @apply underline-offset-4 hover:no-underline text-light-500 hover:bg-light-700 hover:dark:bg-palette-300 hover:dark:text-black
    }
    
    input {
        @apply my-4 bg-white p-2 font-normal dark:bg-palette-900
    }

    details > :nth-child(n+2) {
        @apply border-light-500 dark:border-palette-600 pl-4 border-l p-2
    }

    blockquote {
        @apply pl-4 border-l border-[#242029] dark:border-white
    }
    
    img {
        @apply border border-black/20 dark:border-palette-800/20
    }
    
    .pagefind-ui {
        @apply p-4 grow flex-1
    }

    input[type="text"] { 
        @apply w-full
    }

    .pagefind-ui--reset {
        @apply w-full flex-1
    }
}



.footnotes {
    @apply m-auto pb-[5.5vh] mt-[1rem] relative w-full
}

.footnotes::before {
    @apply w-full h-[1.25px] bg-palette-700 dark:bg-white;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
}