/* || GENERAL STYLES */

@font-face {
    font-family: "0xProto";
    src: url(/fonts/0xProto/0xProtoNerdFont-Regular.ttf) format("truetype");
  }

  
:root {
    --tangrey: #8e878c;
    --neutralgrey:  #9f94a0;
    --lightgrey: #bbb8bb; 
    --pink:  #dcb8b0;
    --peach:  #e5cab7;
    --blue:  #9bb0cd;
    --lightblue:  #cad5db;
    --prideorange: #D62800;
    --pridelightorange: #FF9B56;
    --pridelightpink: #D462A6;
    --pridepink: #A40062;
    --dark: #120f19;
    --bold: #947b82;
  }

body { 
    margin: 0;
    min-height: 100vh;
    background-color: var(--dark);
    color: white;
    font-family:'0xProto', monospace;
  }
  
b {
    color: var(--bold);
    &.normal {
      color: #ffffff;
    }
  }
  
h4, a {
    color: var(--pink);
  }
  
pre {
    color: white;
    font-family:'0xProto', monospace;
  }
  
hr {
    color: var(--lightblue);
    width:100%;
    margin: 1em 0em 1em;
  }

footer {
  text-align: center;
}

.preview {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 1em;
    margin-top: 1em;
    opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.preview:hover {
    opacity: 1;

}

.icon {
  margin: 0 0.5em 0 0;
}

.primary {
    padding: 2em;
    margin: auto;
    width: 65%;

  }

.columns {
  display: grid;
  justify-content: space-between; 
  grid-gap: 1em;
  grid-template-columns: repeat( 2, minmax(49%, 1fr) );

}

.alignitems {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 1em 1em 0em 1em;
  max-width: 100%;
  height: 11em;
  background: #201d29;
  border-radius: 0.5em;
  overflow: auto;
}

  

.pill {
  background: var(--lightblue);
  max-height: 1.5em;
  display: inline-block;
  color: #201d29;
  font-weight: bold;
  padding: 0.3em;
  margin: 0.25em 0.5em 0.25em 0;
  border-radius: 0.6em;
}

.palette {
    display: inline-block;
    height: 2em;
    width: 10%;
  
    &.tangrey {
      background-color: var(--tangrey);
    }
    
    &.neutralgrey {
      background-color: var(--neutralgrey);
    }
    
    &.lightgrey {
      background-color: var(--lightgrey);
    }
    
    &.pink {
      background-color: var(--pink);
    }
    
    &.peach {
      background-color: var(--peach);
    }
    
    &.blue {
      background-color: #9bb0cd;
    }
    
    &.lightblue {
      background-color: #cad5db;
    }
    
  }


  /* || BREAKPOINTS */

  @media screen and (width < 800px){ 
    body {
      font-size: 15px;
    }
  }

  @media screen and (width < 690px){ 
    .primary {
      width: 75%;
  
    }
    .columns {
      grid-template-columns: repeat( 1, minmax(49%, 1fr) );
    }


    .card {
      padding-bottom: 1em;
    }
  }

  @media screen and (width < 500px){
    .card {
      height: fit-content;
    }
    .alignitems {
      flex-direction: column;
    }
  }