@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "0xProto";
        src: url("/fonts/0xProto/0xProtoNerdFont-Regular.ttf") format("truetype");
    }
    :root {
        --tangrey: #8e878c;
        --neutralgrey: #9f94a0;
        --lightgrey: #bbb8bb;
        --pink: #dcb8b0;
        --peach: #e5cab7;
        --blue: #9bb0cd;
        --lightblue: #cad5db;
        --dark: #120f19;
        --bold: #947b82;
        font-family: "0xProto", monospace;
    }

    ::selection {
        background: var(--blue);
        color: var(--dark);
    }

    body {
        margin: 0;
        min-height: 100vh;
        background-color: var(--dark);
        color: white;
    }

    h1 {
        font-size: 2.125em;
    }

    h2 {
        font-size: 1.4em;
        margin-bottom: 0.83em;
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    b {
        color: var(--bold);
        font-weight: 700;
    }

    header {
        padding-top: 5.5vh;
    }

    a {
        text-decoration: underline;
    }

    pre {
        color: white;
        font-family: "0xProto", monospace;
    }

    header {
        position: relative;
    }

    footer {
        text-align: center;
    }

    [class^="icon-"], [class*=" icon-"] {
    text-decoration: none;
    }

    .icon {
        text-decoration: none;
    }


    @media screen and (width < 640px) {
        p, ul {
            font-size: 14px;
        }
    }
}

@layer components {

    h1 {
        @apply text-2xl transition-all duration-100 md:text-3xl text-palette-900 dark:text-white;
    }
    h2 {
        @apply mt-0 text-xl transition-all duration-100 md:text-2xl;
    }

    h3 {
        @apply text-base transition-all duration-100 md:text-lg
    }

    hr {
        @apply w-full h-[1.25px] my-4 bg-palette-700 dark:bg-white;
    }

    p, ul, span, div, pre {
        @apply text-black dark:text-white;
    }
    
    ul {
        @apply list-disc list-inside
    }

    li {
        @apply my-1
    }

    h2, h4, a, b {
        @apply text-light-300 dark:text-palette-300 
    }

    a {
        @apply underline-offset-4 hover:no-underline hover:bg-palette-200 hover:dark:bg-palette-300 hover:dark:text-black
    }
    
    input {
        @apply my-4 bg-white p-2 font-normal rounded-md dark:bg-palette-900
    }

}


.footnotes {
    margin: auto;
    width: 91.667%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5.5vh;
    @media (width >= 64rem) { 
        width: 50%;
    }
}