---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
	<main>
        <body>
            <div style = "text-align: center">
                <pre>
                __
                / _)
     _.----._/ /
    /         /
 __/ (  | (  |
/__.-'|_|--|_|
                </pre>
                <h1>uh oh, page not found!</h1>
                this page doesn't exist. perhaps you'd like to head <a href = "/">home</a> for now?
        </body>
    </main>
</Layout>
