---
import Layout from "../layouts/Layout.astro";
import Columns from "../components/Columns.astro";
import PreviewImage from "../components/PreviewImage.astro";
import Expand from "../components/Expand.astro";
---

<Layout title="about">
        <p>
            Hey there, I'm phthallo! I'm originally from Adelaide, Australia and graduated high school in November 2024. I'm currently taking a gap year to help build new things at <a target = "_blank" href="https://hackclub.com/">Hack Club</a>. 
        </p>

        <p>
            I'm a tinkerer at heart and have been messing around on the web for as long as I can remember. Welcome to my corner of the internet.
        </p>
        <PreviewImage src = "/src/assets/etc/nitw.jpg" altText = "Mae from the video game Night in the Woods standing in a street"></PreviewImage>
        <p>
            Outside of programming, some of the things I like are:         
        </p>
            <span class = "flex flex-col gap-2">

                <details>
                    <summary>Playing indie video games.</summary>
                    <p>Recently, I've been enjoying Silksong, Balatro, Nine Sols and Celeste. <br/> I used to (extremely casually) speedrun Celeste and my Any% PB is 57:02 :D. I also really like playing modded Celeste maps and campaigns.</p>
                </details>

                <details>
                    <summary>Fantasy fiction & sci-fi, plus other transformative works!</summary>
                    <p>Winds of Winter 😭🙏 One of my favourite books of all time is <a target = "_blank" href = "https://en.wikipedia.org/wiki/To_Be_Taught,_If_Fortunate">To Be Taught, If Fortunate</a>.</p>
                </details>
                <details>
                    <summary>My guilty pleasure: comedy and panel shows like Taskmaster and QI</summary>
                    <p>They're really fun! Also of note are 8 out of 10 Cats Does Countdown, Would I Lie to You, Guy Montgomery's Guy Mont-Spelling Bee and occasionally Only Connect.</p>
                </details>
                <details>
                    <summary>Blåhaj</summary>
                    <p>I own five <a target = "_blank"  href = "https://en.wikipedia.org/wiki/Bl%C3%A5haj">sharks</a></p>
                </details>
            <Columns>
                <details>
                    <summary>Indie rock music! In fact, I'm currently listening to:</summary>
                    <p>You can check out my stats on <a target = "_blank" href = "https://www.last.fm/user/phthallo">last.fm</a>. </p>
                </details>
                <center><a href = "https://github.com/kittinan/spotify-github-profile"><img src = "https://spotify-github-profile.kittinanx.com/api/view?uid=by9ol1keui3n1yfhqpxskyjn3&cover_image=true&theme=novatorem&show_offline=true&background_color=121212&interchange=true&bar_color=53b14f&bar_color_cover=true"></img></a></center>
            </Columns>
        </span>    
        <p>One of my dreams is to travel the world someday, because this earth is a vast and brilliant place and we're only alive for so long. But for now, you can find me in several online spaces.</p>
        <p>If you want to chat, don't be afraid to get in touch (seriously! I'd love to talk if you're someone interesting, and especially if we have things in common).</p>
        <div>
            <Expand title = "webrings and buttons!">
            <div slot = "content">
                    <p class = "mt-0"><a href = "https://webring.phthallo.com">placeholder</a></p>
                    <iframe class = "w-full md:h-32 h-max" src = "https://webring.phthallo.com/api/widgets/phthallo?format=image&style=text-align:left;font-family:monospace;padding:2rem;display:flex;flex-direction:row;justify-content:center;gap:1rem;flex-wrap:wrap;align-items:center;"/>
                    <p>go check them out :)</p>   
                </div>
            </Expand>
        </div>
</Layout>
