---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
    <main>
        <p>
            hello! i'm a current year 12 student from <b>adelaide, australia</b>, graduating in november 2024. i was introduced to programming in my digital technologies class back in 2021 and have loved it ever since. since then, it's taken me to
            melbourne, sydney and around the globe to vancouver, canada.
        </p>
        <p>
            outside of programming, i enjoy playing indie video games, listening to music and comedy shows like taskmaster + its associated international counterparts. i'm also fascinated by fiction, art and the transformative works that frequently
            correspond to them.
        </p>
        <p>one of my dreams is to travel the world someday. but for now, you can find me in several online spaces, listed at the top of this page.</p>
    </main>
</Layout>
