---
import Layout from '../layouts/Layout.astro';
import Columns from '../components/Columns.astro';

const params = [
    {id: "P0", text: "Start Point"},
    {id: "P3", text: "End Point"},
    {id: "P1", text: "Control Point (I)"},
    {id: "P2", text: "Control Point (II)"}
]

---

<Layout title="bezier curves">
    <main>
        <script is:inline src="/scripts/Bezier.js" defer></script>
        <h2>Bezier Curve Calculator</h2>
        <p>Outputs the parametric equations of a Bezier curve given a start point, end point and two control points.
            <ul class = "list-disc list-inside">
                <li>Enter points in the form <code>(x, y)</code></li>
                <li>Warning: no input validation is performed on your input.</li>
                <li>Works with floating point and negative numbers!</li>
                <li>The final equations will round all digits to three decimal places.</li>
            </ul>
        </p>
        <form id = "calculator" onsubmit="return false" class = "text-palette-700 mt-4 dark:text-white">
            <Columns>
            {params.map(param =>  
                <span>
                    <b><label for={param.id}>{param.text}:</label></b>
                    <input class = "w-full p-2 my-2 rounded-md focus:outline-none" type="text" id={param.id} name={param.id}>
                </span>
            )}
            </Columns>
            <b><input onclick=store() type="submit" value="Submit"></b>
            <b><input onclick=resetForm("calculator") type="submit" value="Clear"></b>
          </form> 
            <hr>
         <b class = "font-normal">Equations</b>
        <p class = "result"></p>
    </main>
</Layout>