---
import Layout from "../layouts/Layout.astro"
import Columns from "../components/Columns.astro"
---

<Layout title = "guestbook">
    <script>
        const entries = await fetch("https://guestbook.phthallo.com/entries").then(r => r.json())
        const container = document.getElementsByClassName('id_column')[0];
        entries.forEach(item => {
            const div = document.createElement('div');
            div.className = 'bg-light-200/40 dark:bg-palette-900 border border-black/20 dark:border-white/20  p-4 flex flex-col';

            const span = document.createElement('span');
            const b = document.createElement('b');
            b.textContent = item.name;
            span.appendChild(b);
            span.append(' said');

            const p = document.createElement('p');
            p.className = 'grow';
            p.textContent = item.message;

            const i = document.createElement('i');
            i.textContent = new Date(item.timestamp).toLocaleString();

            div.append(span, p, i);
            container.appendChild(div);
        })
        if (entries.length == 0) {
            const p = document.createElement('p');
            p.className = 'flex flex-1 items-center justify-center italic';
            p.textContent = "no entries found :(";
            container.replaceChildren(p);
        }
    </script>
    <div class = "flex flex-col">
     <p>these are the ten most recent entries in my <a href = "https://github.com/phthallo/guestbook">guestbook</a>! feel free to leave a message :{'>'}</p>

    <div class = "dark:bg-white/10 bg-light-200/40 my-4 p-4 text-center"><code>ssh guestbook.phthallo.com -p 2222</code></div>
    <Columns>
    </Columns>
    </div>

</Layout>