---
import Layout from '../layouts/Layout.astro';
import PreviewImage from "../components/PreviewImage.astro";
import Columns from '../components/Columns.astro';
---

<Layout title="home">
	<main>
		<div class = "!flex !flex-wrap justify-between">
			<a href = "/about" aria-label="Visit the About page">about</a>
			<a href = "/meta" aria-label="Visit the Meta page">website</a>
			<a href = "/projects" aria-label="Visit the Projects page">projects</a>
			<a href = "/blog" aria-label="Visit the Blog page">blog</a>
			<a href = "/now" aria-label="Visit the Now page">now</a>
		</div>

		<p>i go by <b>phthallo</b> (pronunciation contentious, but i accept <i>phay-low</i> or <i>thay-low</i>) everywhere online. i am a 17 year old programmer from australia.</p>
		<p>thanks for visiting - add something to my <a href = "/guestbook" aria-label="Visit the Guestbook page">guestbook</a> before you go :]</p>

		<PreviewImage src = "/src/assets/etc/paint.jpg" altText = "The map 'Paint' from the Celeste Strawberry Jam Collab."></PreviewImage>
	</main>
</Layout>

