---
import Layout from "../layouts/Layout.astro";
---
<Layout title="meta">
    <main>
        <h2>meta</h2>
        <p>this website is primarily of my own design, but it was very thematically based off of a <a href = "https://terminal.phthallo.com">website</a> I created earlier in 2024.</p>
        <p>the font used is <a href = "https://github.com/0xType/0xProto">0xproto</a>.</p>
        <p>i used <a href = "https://github.com/alex-grover/astro-themes/">astro-themes</a> to implement an easy theme switcher, since i'm using tailwind.</p>
        <p>i used to host my services on <a href = "https://hackclub.app">nest</a> (check it out if you're a high schooler!); now, i use a vps running debian 12.</p>
        
        <h2>my spaces on the internet</h2>
        <p>i can usually be found under this exact username.</p>
    </main>
</Layout>
