---
import Layout from "../layouts/Layout.astro";
---
<Layout title="meta">
    <main>
        <h2>meta</h2>
        <p>This website is primarily of my own design, but it was very thematically based off of a <a href = "https://terminal.phthallo.com">website</a> I created earlier in 2024.</p>
        <p>The font used is <a href = "https://github.com/0xType/0xProto">0xproto</a>.</p>
        <p>I used <a href = "https://github.com/alex-grover/astro-themes/">astro-themes</a> to implement an easy theme switcher, since I'm using tailwind.</p>
        <p>I used to host my services on <a href = "https://hackclub.app">Nest</a> (check it out if you're a high schooler!); now, I use a vps running Debian 12.</p>
        
        <h2>my spaces on the internet</h2>
        <p>I can usually be found under this exact username. Except on itch.io.</p>
    </main>
</Layout>
