---
import Layout from "../layouts/Layout.astro";
---
<Layout title="meta">
    <main>
        <p>This website is primarily of my own design, but it was very thematically based off of a <a href = "https://terminal.phthallo.com">website</a> I created earlier in 2024.</p>
        <p>The font used is <a href = "https://github.com/ryanoasis/nerd-fonts?tab=readme-ov-file#patched-fonts">0xProto</a>. Nerd fonts FTW!</p>
        <p>I used to host my projects on <a href = "https://hackclub.app">Nest</a> (check it out if you're a high schooler!); now, I've switched largely to my own services.</p>
        
        <h2>my spaces on the internet</h2>
        <p>I can usually be found under this exact username. Except on itch.io. If you're the person on Itch with this username, say hi!</p>

        <h2>hardware</h2>
            <p>I own several devices, including a M3 Macbook Air (Clancy), Thinkpad T14s (Woodstock), and Framework 13 (Zaba). Also of note are several Raspberry Pis and a reMarkable tablet.</p>
            <p>Additionally, I also use two VPSes (named Landmark and Persona) which I use with Coolify to host my websites, personal projects and cloud services.</p>
            <p>I name my devices after my favourite albums. Check out my <a href = "https://open.spotify.com/user/by9ol1keui3n1yfhqpxskyjn3">Spotify</a> if they seem interesting to you :]</p>
    </main>
</Layout>
