---
import Layout from "../layouts/Layout.astro";
---
<Layout title="meta">
    <main>
        <h2>meta</h2>
        <p>This website is primarily of my own design, but it was very thematically based off of a <a href = "https://terminal.phthallo.com">website</a> I created earlier in 2024.</p>
        <p>The font used is <a href = "https://github.com/0xType/0xProto">0xproto</a>.</p>
        <p>I used <a href = "https://github.com/alex-grover/astro-themes/">astro-themes</a> to implement an easy theme switcher.</p>
        <p>I used to host my projects on <a href = "https://hackclub.app">Nest</a> (check it out if you're a high schooler!); now, I've switched largely to my own services.</p>
        
        <h2>my spaces on the internet</h2>
        <p>I can usually be found under this exact username. Except on itch.io. If you're the person on Itch with this username, say hi!</p>

        <h2>hardware</h2>

        <h3>Devices</h3>
            <p>Clancy: M3 Macbook Air with 24GB of RAM and 512 GB storage. Current daily driver.</p>
            <p>Woodstock: Thinkpad T14s with 16GB of RAM and 512GB storage, running Fedora.</p>
            <p>Demos: Raspberry Pi 5 with 4GB of RAM and 64GB storage, running Home Assistant.</p>

        <h3>Servers/VPSes</h3>
            <p>I use these + Coolify to host all my websites, personal projects and cloud services. Please talk to me about cool FOSS projects I swear I don't bite :)</p>
            <p>Landmark: Intel Xeon E5 with 4GB of RAM and 300GB storage, running Debian.</p>
            <p>Persona: Intel Xeon E5 with 12GB of RAM and 160GB storage, running Debian.</p>
    </main>
</Layout>
