---
import Layout from "../layouts/Layout.astro";
---
<Layout title="now">
    <main>
        <p>This is a <a href ="https://nownownow.com/about">now page</a>.</p>
        <h2>now:</h2>
        <p>Physically located in Vermont, United States, on a gap year building stuff as an engineer at <a target="_blank" href = "https://hackclub.com">Hack Club</a>.</p>
            <small>(cool organisation by the way, did you know that it - and the <a target = "_blank" href = "https://hackclub.com/fiscal-sponsorship">infrastructure</a> it runs on - are <a target = "_blank" href = "https://github.com/hackclub/">open source</a>?</a></small>).</p>
        <p>Trying new things. Learning new things. Attempting to come to terms with growing up in this fast changing world.</p>
    </main>
