---
import Layout from "../layouts/Layout.astro";
---
<Layout title="now">
    <p>This is a <a href ="https://nownownow.com/about">now page</a>.</p>
    <p>Still out of Australia. Physically located in Vermont, United States, on a gap year building stuff as an engineer at <a target="_blank" href = "https://hackclub.com">Hack Club</a>.         <small>(cool organisation by the way, did you know that it - and the <a target = "_blank" href = "https://hackclub.com/fiscal-sponsorship">infrastructure</a> it runs on - are <a target = "_blank" href = "https://github.com/hackclub/">open source</a>?</a></small>).</p>
</p>
    
    <p>Recently started messing around with Home Assistant, and hoping to switch all my services to fully self-hosted at some point.</p>
    
    <p>Trying new things. Learning new things. Attempting to come to terms with growing up in this fast changing world.</p>
</Layout>