---
import Layout from "../layouts/Layout.astro";
import Columns from '../components/Columns.astro';
import thisplace from "../data/thisplace.json";
---
<Layout title="this place">
    <main>
        <h2>my places on the internet</h2>
        { thisplace.map(place => 
            <h4 class = "my-4 font-bold">{place.filter}</h4>
            <Columns>
                {place.content.map(item => 
                <div>
                    <a href = {"https://"+(place.filter).replace("*", item.name)}><i class = "text-light-50 dark:text-palette-600">{item.name}</i></a>
                </div>
                <div>
                    {item.description}
                </div>
                    )}
            </Columns><br>
        )}
    </main>
</Layout>
