---
import Layout from '../layouts/Layout.astro';
---

<Layout title="projects">
	<main>
        <body>
            <p>this page was intentionally left blank!</p>
        </body>
    </main>
</Layout>