---
const colours = [
    "bg-palette-50", 
    "bg-palette-100", 
    "bg-palette-200",
    "bg-palette-300",
    "bg-palette-400",
    "bg-palette-500",
    "bg-palette-600",
]
const commitHash = import.meta.env.SOURCE_COMMIT
---

<footer>
    <div class = "mx-auto mt-4">
        {colours.map((colour) => 
        <span class = {`inline-block h-8 w-[10%] ${colour} opacity-60 dark:opacity-100 `}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
        -->)}
    <i><span class = "block pt-2 text-xs">on commit <a href = {`https://github.com/phthallo/site-v1/commit/${commitHash}`}>{commitHash?.substring(0,7)}</a>. made with astro</i></span>
    </div>
</footer>