<footer>
    <div style = "margin: auto; margin-top: 1em;">
        <span class = "palette tangrey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class = "palette neutralgrey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class = "palette lightgrey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class = "palette pink">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class = "palette peach">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class = "palette blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!---
    --><span class = "palette lightblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <i><p>this website is <a href = "https://github.com/phthallo/personal-site">open source</a></i></p>

    </div>
</footer>