---
const colours = [
    "bg-palette-50", 
    "bg-palette-100", 
    "bg-palette-200",
    "bg-palette-300",
    "bg-palette-400",
    "bg-palette-500",
    "bg-palette-600",
]
---
<footer>
    <div class = "mx-auto mt-4 mb-10">
        {colours.map((colour) => 
        <span class = {`inline-block h-8 w-[10%] ${colour}`}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
        -->)}
    <i><p class = "text-sm">this website is <a href = "https://github.com/phthallo/site-v1">open source</a>. made with tailwindcss and astro</i></p>
    </div>
</footer>