---
const url = new URL(Astro.url.pathname, Astro.site);
const link = url.pathname.split("/").filter((i) => i);
---

<header>
    <!-- prettier-ignore -->
    <div id = "navigation" class = "mb-3">
        ~/ <a class = "no-underline" href = "/">home</a>
        { link ? 
        <span> { link.map((data) => <span> / <a class = "no-underline" href = {`/${data}`}> {data}</a></span>) }   
        </span> : null}
    </div>
    <h1>Hi, I'm Annabel.</h1>
    <hr />
    <div class="flex flex-col justify-between text-sm leading-5 transition-all duration-300 sm:flex-row sm:text-base">
        <div>
            <b><i class="fa-solid fa-envelope mr-2"></i>contact<span class="fa-solid fa-sm fa-at" title="@"></span>phthallo.com</b><br />
            <b><a class="text-palette-800" href="https://github.com/phthallo"><i class="fa-brands fa-github mr-2"></i>@phthallo</a></b>
        </div>
        <div>
            <b><a class="text-palette-800" href="https://linkedin.com/in/annabelquach"><i class="fa-brands fa-linkedin mr-2"></i>annabelquach</a></b><br />
            <b><i class="fa-brands fa-github mr-2"></i>@phthallo</b>
        </div>
    </div>
    <hr />
</header>
