---
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
const url = new URL(Astro.url.pathname, Astro.site);
const link = url.pathname.split("/").filter((i) => i);
---

<header>
    <!-- prettier-ignore -->
    <div id = "navigation" class = "mb-3">
        <ThemeSwitcher default="dark" />

        <p>~/ <a class = "no-underline" href = "/">home</a>
        { link ? 
        <span> { link.map((data) => <span> / <a class = "no-underline" href = {`/${data}`}> {data}</a></span>) }   
        </span> : null}
        </p>
    </div>
    <h1>hi, i'm phthallo.</h1>
    <hr />
    <div class="flex flex-col justify-between text-sm leading-7 sm:leading-5 transition-all duration-300 sm:flex-row sm:text-base">
        <div class = "text-palette-800">
            <b><i class="icon-envelope mr-2"></i>contact<!-- a comment -->@<!-- --></span>phthallo.com</b><br />
            <b><a class="icon" href="https://github.com/phthallo"><i class="icon-github mr-2"></i>@phthallo</a></b>
        </div>
        <div class = "text-palette-800">
            <b><a class="icon" href="https://linkedin.com/in/annabelquach"><i class="icon-linkedin mr-2" ></i>annabelquach</a></b><br />
            <b><i class="icon-github mr-2"></i>@phthallo</b>
        </div>
    </div>
    <hr />
</header>
