<header><h1>Hi, I'm Annabel.</h1> 
<hr>
<div class = "alignitems">
    <div class = "left">
        <b><i class="icon fa-regular fa-envelope"></i>contact<img class="fa-solid fa-sm fa-at" alt = "@"></img>phthallo.com</b><br>
        <b><i class="icon fa-brands fa-github"></i>@phthallo</b>
    </div>
    <div class = "right">
        <b><i class="icon fa-brands fa-linkedin"></i>in/annabelquach</b><br>
        <b><i class="icon fa-brands fa-github"></i>@phthallo</b>
    </div>
</div>
<hr>
</header>