---
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
const url = new URL(Astro.url.pathname, Astro.site);
const link = url.pathname.split("/").filter((i) => i);
---

<header>
    <!-- prettier-ignore -->
    <div id = "navigation" class = "mb-3">
        <ThemeSwitcher default="dark" />
        <span>~/ <a class = "no-underline" href = "/">home</a>
        { link ? 
        <span> { link.map((data) => <span> / <a class = "no-underline" href = {`/${data}`}> {data}</a></span>) }   
        </span> : null}
        </span>
    </div>
    <h1 class = "py-2">hi, i'm phthallo.</h1>
    <div class = "flex flex-wrap justify-between gap-4">
        <a href = "/about" aria-label="Visit the About page">about</a>
        <a href = "/meta" aria-label="Visit the Meta page">website</a>
        <a href = "/projects" aria-label="Visit the Projects page">projects</a>
        <a href = "/blog" aria-label="Visit the Blog page">blog</a>
        <a href = "/now" aria-label="Visit the Now page">now</a>
    </div>
    <hr />
</header>
