---

--- 

<script is:inline>
    var lightMode = document.documentElement.attributes.getNamedItem("data-theme")?.value == "light";
    lightMode = lightMode ? lightMode : (localStorage.getItem("theme") == "light")
    document.addEventListener("DOMContentLoaded", function() {
        const icon = document.getElementById('toggleIcon');
        icon.className = (lightMode) ? "moon" : "sun";
    });
    function setTheme() {
        document.dispatchEvent(
            new CustomEvent("set-theme", { detail: lightMode ? "dark" : "light" })
        );
        lightMode = !lightMode;
        const icon = document.getElementById('toggleIcon');
        icon.className = (lightMode) ? "moon" : "sun";
    }
</script>

<button class = "transition-all duration-100" onclick = setTheme() aria-label="Switch page theme">
    <i id="toggleIcon" class=""></i>
</button>

